<ctr-header imageUrl="https://storage.googleapis.com/contler-dev.appspot.com/RoomService.jpeg" backUrl="/home/delivery">
  <h1 class="text-center text-lg font-semibold mt-4">
    {{ 'restaurants.title' | translate }}
  </h1>
</ctr-header>

<div class="p-4">
  @if (isLoading$ | async) {
    @for (item of [1, 2, 3, 4, 5]; track item) {
      <div class="flex gap-8 items-center">
        <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
        <ngx-skeleton-loader class="flex-1" appearance="line" [theme]="{ margin: '0' }"></ngx-skeleton-loader>
      </div>
    }
  } @else {
    <div>
      <div class="flex justify-between items-center">
        <p class="text-neutral-600 text-lg">
          {{ 'restaurants.open' | translate }}
        </p>

        <p class="text-neutral-400 text-xs font-semibold">{{ (restaurants$ | async)?.length }} restaurants</p>
      </div>

      <div class="py-3 flex flex-col gap-2">
        @for (restaurant of restaurants$ | async; track restaurant.uid) {
          <ctr-option-card
            [title]="restaurant.name | dynamicTranslate | async | capitalize"
            [imageUrl]="restaurant?.image"
            (action)="goToRestaurantProducts(restaurant)"
          ></ctr-option-card>
        }
      </div>
    </div>

    <div>
      <div class="flex justify-between">
        <p class="text-neutral-600 text-lg">{{ 'restaurants.close' | translate }}</p>

        <p class="text-neutral-400 text-xs font-semibold">{{ restaurants.length }} restaurants</p>
      </div>

      <div class="py-2" *ngIf="showClosedInfo">
        <ctr-info-card
          (action)="showClosedInfo = false"
          [label]="'restaurant.closeMessage' | translate"
          [actionText]="'common.gotIt' | translate"
        >
          <ng-container icon>
            <mat-icon> info </mat-icon>
          </ng-container>
        </ctr-info-card>
      </div>

      <div class="py-3">
        @for (restaurant of restaurantsClose$ | async; track restaurant.uid) {
          <ctr-option-card
            [title]="restaurant.name | dynamicTranslate | async | capitalize"
            [imageUrl]="restaurant?.image"
            (action)="goToRestaurantProducts(restaurant)"
          ></ctr-option-card>
        }
      </div>
    </div>
  }
</div>
