<div class="w-full p-4 min-h-[133px] sticky top-0">
  <div class="relative z-10 text-white">
    <div class="flex items-center -mt-3">
      <button class="p-3 -ml-3 flex" (click)="goBack()">
        <mat-icon> arrow_back_ios </mat-icon>
      </button>

      <span class="flex-1"></span>
      <button class="p-3 -mr-3 flex">
        <mat-icon> menu </mat-icon>
      </button>
    </div>

    <h1 class="text-center text-lg font-semibold mt-4">
      {{ 'restaurants.title' | translate }}
    </h1>
  </div>

  <div class="absolute w-full h-full top-0 left-0 z-0">
    <img
      src="https://storage.googleapis.com/contler-dev.appspot.com/RoomService.jpeg"
      alt="logo"
      class="h-full w-full object-cover"
    />
    <div class="absolute w-full h-full bg-black top-0 left-0 opacity-40"></div>
  </div>
</div>

<div class="p-4">
  @if (isLoading$ | async) {
    @for (item of [1, 2, 3, 4, 5]; track item) {
      <div class="flex gap-8 items-center">
        <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
        <ngx-skeleton-loader class="flex-1" appearance="line" [theme]="{ margin: '0' }"></ngx-skeleton-loader>
      </div>
    }
  } @else {
    <div>
      <div class="flex justify-between items-center">
        <p class="text-neutral-600 text-lg">
          {{ 'restaurants.open' | translate }}
        </p>

        <p class="text-neutral-400 text-xs font-semibold">{{ (restaurants$ | async)?.length }} restaurants</p>
      </div>

      <div class="py-3 flex flex-col gap-2">
        @for (restaurant of restaurants$ | async; track restaurant.uid) {
          <ctr-option-card
            [title]="restaurant.name"
            [imageUrl]="restaurant?.image"
            (action)="goToRestaurantProducts(restaurant)"
          ></ctr-option-card>
        }
      </div>
    </div>

    <div>
      <div class="flex justify-between">
        <p class="text-neutral-600 text-lg">{{ 'restaurants.close' | translate }}</p>

        <p class="text-neutral-400 text-xs font-semibold">{{ restaurants.length }} restaurants</p>
      </div>

      <div class="py-2" *ngIf="showClosedInfo">
        <ctr-info-card
          (action)="showClosedInfo = false"
          [label]="'restaurant.closeMessage' | translate"
          [actionText]="'common.gotIt' | translate"
        >
          <ng-container icon>
            <mat-icon> info </mat-icon>
          </ng-container>
        </ctr-info-card>
      </div>

      <div class="py-3">
        @for (restaurant of restaurantsClose$ | async; track restaurant.uid) {
          <ctr-option-card
            [title]="restaurant.name"
            [imageUrl]="restaurant?.image"
            (action)="goToRestaurantProducts(restaurant)"
          ></ctr-option-card>
        }
      </div>
    </div>
  }
</div>
