<ctr-modal-container title="Select an estimated time">
  <ng-container body>
    <div class="px-4">
      <ctr-select-option
        [selected]="selectedOption === 0"
        [label]="'checkout.asap' | translate"
        [subtitle]="
          ('checkout.timeDescription' | translate) +
          ' ' +
          (roomService?.estimatedTime || '60') +
          ' ' +
          ('checkout.minutes' | translate)
        "
        (action)="setAsSoonAsPossible()"
      ></ctr-select-option>

      <div class="mt-2">
        <ctr-select-option
          (action)="openPicker()"
          [selected]="selectedOption === 1"
          [label]="'checkout.specificTime' | translate"
          [subtitle]="selectedOption === 1 ? (time | date: 'hh:mm a') || '' : ''"
        ></ctr-select-option>
      </div>
    </div>
  </ng-container>
</ctr-modal-container>
