<div class="content">
  <div>
    <ctr-header
      [title]="(restaurant$ | async)?.name | dynamicTranslate | async | capitalize"
      [imageUrl]="
        (restaurant$ | async)?.image ?? 'https://storage.googleapis.com/contler-dev.appspot.com/RoomService.jpeg'
      "
    >
      <h1 class="text-center text-lg font-semibold mt-4">
        {{ 'restaurants.order' | translate }}
      </h1>
    </ctr-header>

    <div class="w-screen">
      <contler-categories
        (selectCategory)="goToCategory($event)"
        [restaurantId]="(restaurant$ | async)?.uid"
      ></contler-categories>
    </div>
  </div>

  <div>
    @if (restaurantClosed$ | async) {
      <div class="mb-4 px-4">
        <ctr-info-card [label]="'restaurant.alreadyClosed' | translate" alignIcon="start">
          <ng-container icon>
            <mat-icon fontSet="material-icons-outlined"> info </mat-icon>
          </ng-container>
        </ctr-info-card>
      </div>
    }
  </div>
  <div #parent class="overflow-hidden">
    @if (isLoading$ | async) {
      @for (item of [1, 2]; track item) {
        <ctr-product-card-skeleton></ctr-product-card-skeleton>
      }
    } @else {
      <ctr-scroll #scrolled [height]="contentHeight + 'px'">
        @for (category of categories$ | async; track category.uid; let last = $last) {
          <ctr-scroll-item (activeItem)="active(category)" [key]="category.uid">
            <div [style.min-height]="last ? contentHeight + 'px' : 0">
              <contler-products-category
                [category]="category"
                [products]="(restaurant$ | async)?.products || []"
              ></contler-products-category>
            </div>
          </ctr-scroll-item>
        }
      </ctr-scroll>
    }
  </div>

  <button ctrButton routerLink="/checkout">Checkout</button>
</div>
