<ctr-modal-container
  [imageUrl]="data.image"
  [title]="$any(data.name | dynamicTranslate | async)"
  (closeModal)="close()"
>
  <ng-container body>
    <p class="text-xm px-4">{{ data.description | dynamicTranslate | async }}</p>
    <p class="mt-4 px-4 font-bold" ctrHotelColor>{{ data.value | currency: currency ?? '' }}</p>

    <form [formGroup]="formGroup">
      @if (form) {
        <ctr-dynamic-form [inputFieldList]="form.form" formControlName="dynamicForm"></ctr-dynamic-form>
      }

      <mat-form-field appearance="outline" class="w-full px-4 mt-4">
        <textarea formControlName="comments" matInput [placeholder]="'product.anyComment' | translate"></textarea>
      </mat-form-field>
    </form>
  </ng-container>
  <div footer class="p-4 flex gap-2">
    <button [disabled]="formGroup.invalid" ctrButton class="flex-1" (click)="addProduct()">
      {{ 'cart.confirmOrder' | translate }}
    </button>
  </div>
</ctr-modal-container>
